body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #4CAF50; /* Verde */
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  nav {
    background-color: #2196F3; /* Azul */
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  /* Corrigindo a cor do texto do menu */
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin: 0 10px;
  }
  
  nav li a {
    color: #fff; /* Texto branco */
    text-decoration: none;
  }
  
  nav li a:hover {
    text-decoration: underline;
  }
  
  section {
    padding: 20px;
  }
  
  footer {
    background-color: #4CAF50; /* Verde */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  /* Novo estilo para as imagens */
  img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
  }
  