{% extends 'base.html' %}

{% block conteudo %}
<div class="row">
    <div class="col-md-8">
        <h2>O que é o Blog Pessoal?</h2>
        <p>O Blog Pessoal é uma plataforma onde você pode criar, editar e compartilhar suas próprias postagens. Seja para expressar suas opiniões, compartilhar conhecimentos ou contar suas experiências, nosso projeto oferece a você a liberdade de ser você mesmo.</p>
        <p>Com uma interface intuitiva e fácil de usar, você não precisa ser um especialista em tecnologia para começar. Basta fazer login, criar sua postagem e publicar!</p>
    </div>
    <div class="col-md-4">
        <h2>Recursos Principais</h2>
        <ul>
            <li>Crie e personalize seu blog pessoal</li>
            <li>Escreva e edite postagens de forma simples</li>
            <li>Compartilhe suas postagens nas redes sociais</li>
            <li>Interaja com os leitores através de comentários</li>
            <li>Interface responsiva para dispositivos móveis</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Como Começar</h2>
        <p>Para começar a usar o Blog Pessoal, siga os passos abaixo:</p>
        <ol>
            <li>Se você já tem uma conta, faça login. Caso contrário, crie uma conta.</li>
            <li>Clique no botão "Leia mais" acima para acessar o painel do Blog Pessoal.</li>
            <li>Clique em "Nova Postagem" para começar a escrever sua primeira postagem.</li>
            <li>Após escrever sua postagem, clique em "Publicar" para compartilhá-la com o mundo.</li>
        </ol>
    </div>
</div>
{% endblock %}