<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{titulo}}</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
</head>

<body>
  <header>
    <h1>Reflexões em Pauta</h1>
  </header>
  
  <nav class="menu">
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/projetos">Projetos</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/sobre">Sobre</a></li>
      <li><a href="/contatos">Contatos</a></li>
    </ul>
  </nav>
  

  {% block conteudo %}

  {% endblock %}


  <footer>
    <p>&copy; 2023 Valtemir Procópio de Lima. Todos os direitos reservados.</p>
  </footer>
</body>

</html>
