{% extends 'base.html' %}

{% block conteudo %}
<section class="main-content">
  <h2 class="mb-4">Cadastre-se</h2>
  <form action="" method="post">
    {{ cadastro.csrf_token }}
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="nome">Nome</label>
        {{ cadastro.nome(class="form-control", placeholder="Digite aqui o seu nome")}}
      </div>
      <div class="col-md-6 mb-3">
        <label for="sobrenome">Sobrenome</label>
        {{ cadastro.sobrenome(class="form-control", placeholder="Digite aqui o seu sobrenome")}}
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="email">Email</label>
              {{ cadastro.email(class="form-control", placeholder="Digite aqui o seu e-mail")}}      
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="senha">Senha</label>
              {{ cadastro.senha(class="form-control", placeholder="Digite aqui o seu e-mail")}}
              </div>
      </div>
    {{ cadastro.enviar(class="btn btn-primary")}} 
  </form>
</section>
{% endblock %}
