{% extends 'base.html' %}

{% block conteudo %}
<section class="contact-form">
    <h2>Contatos</h2>
    <p>Entre em contato conosco preenchendo o formulário abaixo:</p>

    <form action="" method="post">
        {{ formulario.csrf_token }}
        <label for="nome">Nome:</label>
        {{ formulario.nome }}

        <label for="email">Email:</label>
        {{ formulario.email }}

        <label for="telefone">Telefone:</label>
        {{ formulario.telefone }}

        <label for="mensagem">Mensagem:</label>
        {{ formulario.mensagem }}
        
        {{ formulario.enviar }}
    </form>
</section>
{% endblock %}
