{% extends 'base.html' %}

{% block conteudo %}
<section class="contact-form">
    <h2>Contatos</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for mensagem in messages %}
            <div class="alert alert-success" role="alert">
                {{ mensagem }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p>Entre em contato conosco preenchendo o formulário abaixo:</p>

    <div class="row">
        <div class="col-md-6 mx-auto">
            <form action="" method="post">
                {{ formulario.csrf_token }}
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    {{ formulario.nome }}
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    {{ formulario.email }}
                </div>

                <div class="form-group">
                    <label for="telefone">Telefone:</label>
                    {{ formulario.telefone }}
                </div>

                <div class="form-group">
                    <label for="mensagem">Mensagem:</label>
                    {{ formulario.mensagem }}
                </div>

                {{ formulario.enviar(class="btn btn-success") }}
            </form>
        </div>
    </div>
</section>
{% endblock %}
