{% extends 'base.html' %}

{% block conteudo %}
<section class="main-content">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for mensagem in messages %}
    <div class="alert alert-success" role="alert">
        {{ mensagem }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h2 class="mb-4">Editar usuario</h2>
    <form action="" method="post">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" placeholder="Digite aqui o novo nome">
            </div>
            <div class="col-md-6 mb-3">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" class="form-control" value="{{session['sobrenome']}}">
            </div>
            <div class="col-md-6 mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="Digite aqui o seu novo email">
            </div>
            <div class="col-md-6 mb-3">
                <label for="senha">Senha</label>
                <input type="password" class="form-control" placeholder="Digite aqui sua nova senha">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Entrar</button>
    </form>
</section>
{% endblock %}