{% extends 'base.html' %}

{% block conteudo %}
<section class="main-content">
    <h2 class="mb-4">Projetos</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="h-100 card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Gerenciador de Tarefas</h3>
                    <p class="card-text">Um aplicativo web para ajudar você a organizar suas tarefas diárias...</p>
                    <a href="
                    {% if session['email'] %}
                        {{ url_for('projeto1') }}
                    {% else %}
                        {{ url_for('login') }}
                    {% endif %}
                    " class="btn btn-primary">Leia mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Blog Pessoal</h3>
                    <p class="card-text">Crie, edite e compartilhe suas ideias e conhecimentos com o mundo através do seu próprio blog pessoal. Este projeto é perfeito para quem gosta de escrever e deseja construir uma presença online.</p>
                    <a href="
                    {% if session['email'] %}
                    {{ url_for('projeto2') }}
                    {% else %}
                    {{ url_for('login') }}
                    {% endif %}" 
                class="btn btn-primary">Leia mais</a>
                </div>
            </div>
        </div>
        <!-- Resto dos cards de projeto -->
    </div>
</section>
{% endblock %}