{% extends 'base.html' %}

{% block conteudo %}
<section>
    <h2>Projetos</h2>
    <ul>
        <li>
            <h3>Gerenciador de Tarefas</h3>
            <p>Um aplicativo web para ajudar você a organizar suas tarefas diárias. O Gerenciador de Tarefas permite adicionar, editar e marcar tarefas como concluídas, mantendo você produtivo e no controle.</p>
        </li>
        <li>
            <h3>Blog Pessoal</h3>
            <p>Crie, edite e compartilhe suas ideias e conhecimentos com o mundo através do seu próprio blog pessoal. Este projeto é perfeito para quem gosta de escrever e deseja construir uma presença online.</p>
        </li>
        <li>
            <h3>Calculadora de Orçamento</h3>
            <p>Uma calculadora de orçamento simples, porém poderosa, que ajuda você a planejar suas finanças. Insira suas despesas e receitas para ter uma visão clara de como está gastando seu dinheiro.</p>
        </li>
        <li>
            <h3>Agenda de Eventos</h3>
            <p>Mantenha-se atualizado com os eventos importantes em sua vida usando esta agenda de eventos. Adicione datas e detalhes dos eventos e receba lembretes para nunca mais perder um compromisso.</p>
        </li>
    </ul>
</section>
{% endblock %}
