{% extends 'base.html' %}

{% block conteudo %}
<section class="main-content">
    <h2 class="mb-4">Projetos</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Gerenciador de Tarefas</h3>
                    <p class="card-text">Um aplicativo web para ajudar você a organizar suas tarefas diárias. O Gerenciador de Tarefas permite adicionar, editar e marcar tarefas como concluídas, mantendo você produtivo e no controle.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Blog Pessoal</h3>
                    <p class="card-text">Crie, edite e compartilhe suas ideias e conhecimentos com o mundo através do seu próprio blog pessoal. Este projeto é perfeito para quem gosta de escrever e deseja construir uma presença online.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Calculadora de Orçamento</h3>
                    <p class="card-text">Uma calculadora de orçamento simples, porém poderosa, que ajuda você a planejar suas finanças. Insira suas despesas e receitas para ter uma visão clara de como está gastando seu dinheiro.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Agenda de Eventos</h3>
                    <p class="card-text">Mantenha-se atualizado com os eventos importantes em sua vida usando esta agenda de eventos. Adicione datas e detalhes dos eventos e receba lembretes para nunca mais perder um compromisso.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
