{% extends 'base.html' %}

{% block conteudo %}
<section class="main-content">
    <article class="post">
        <h2>Sobre</h2>
        <p>Olá! Eu sou [Seu Nome], o criador deste blog. Bem-vindo ao meu espaço virtual onde compartilho minhas reflexões, insights e conhecimentos sobre diversos tópicos.</p>
        <p>Minha paixão por aprender e explorar novas ideias me levou a criar este blog como uma maneira de me conectar com pessoas que têm interesses semelhantes.</p>
        <p>Aqui, você encontrará uma variedade de artigos abordando temas que vão desde tecnologia até filosofia, e estou animado para trazer perspectivas únicas para a discussão.</p>
    </article>
</section>
{% endblock %}
